<div class="container">
  <div class="row">

    <div class="col-sm-4">
      <img src="http://sec.icec.edu.br/lyceump_associadas/aonline/images/AOLlogin_icec.jpg" 
      class="img-responsive" alt="Responsive image">
      <div class="panel panel-default">

      </div>
    </div>
    <br/><br/><br/><br/>
      <!-- ... painel todo aqui ... -->

    Perfil : <h3>{{perfil}}</h3>
    <form>
          <h1 ng-if="semSucesso" ng-bind="semSucesso" class="bg-danger"><h1>
          <h3 >{{perguntas.questao}}</h3>

       <div  ng-repeat="listaresposta in perguntas.listaDeResposta">          
               <p class="enunciado"><input type="radio" value="{{listaresposta.resposta}}" 
              ng-model="$parent.resposta"required />{{listaresposta.resposta}}</p> 
            </div>
    </form>

  </div>

   <button class="btn btn-primary" ng-click="somar()">Responder</button>
</div>


     


