<!-- Begin Page Content -->
	
	<div id="container-ava">

		<label for="nome" >Login</label>
		<input type="name" ng-model="nome" >
		
		<label for="senha">Senha</label>
		<input type="password" ng-model="senha">

		
		<label class="bg-danger">{{valorIncorreto}}</label>
		<div id="lower">
		
		<input type="checkbox">
		<label class="check" for="checkbox">Me mantenha conectado</label>
		

		<input type="submit" ng-click="entrar()">
		
		</div>
		
		<label >{{valores}}</label>
		
</div>
	
	<!-- End Page Content -->