 
    <div class="container">
    		<p><br/></p>
  		<div class="row">
  			<div class="col-md-8"></div>
  			<div class="col-md-4">
  				<div class="panel panel-default">
  					<div class="panel-body">
    						<div class="page-header">
  					        <center><img src="img/logoicec1.png" id="centro"> </center>
							</div>
						<form role="form">
  							<div class="form-group">
    								<label for="exampleInputEmail1">R.A OU CPF</label>
    								<div class="input-group">
  									<span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
  									<input ng-model="nome" type="CPF" class="form-control" id="exampleInputCPF1" placeholder="Digite Aqui seu CPF ou R.A ">
								</div>
  							</div>
  							<div class="form-group">
    								<label for="exampleInputPassword1">Senha</label>
    								<div class="input-group">
  									<span class="input-group-addon"><span class="glyphicon glyphicon-star"></span></span>
  									<input ng-model="senha" type="password" class="form-control" id="exampleInputPassword1" placeholder="Digite Aqui sua Senha">
								</div>
  							</div>
  							<hr/>
  						<!-- 	<button type="button" class="btn btn-success"><span class="glyphicon glyphicon-arrow-left"></span> Voltar</button>
  							<button type="submit" class="btn btn-success"><span class="glyphicon glyphicon-arrow"></span> Casdastro</button> -->
							<button type="submit" class="btn btn-success" ng-click="entrar()"><span class="glyphicon glyphicon-arrow"></span> Login</button>
  							<p><br/></p>
						</form>

            <label class="bg-danger">{{valorIncorreto}}</label>
  					</div>
				</div>
  			</div>
		</div>
    </div>