<div class="container">
  <div class="row">

    <div class="col-sm-4">
      <img src="http://sec.icec.edu.br/lyceump_associadas/aonline/images/AOLlogin_icec.jpg" 
      class="img-responsive" alt="Responsive image">
      <div class="panel panel-default">
        <!-- ... painel todo aqui ... -->
        
      </div>
    </div><br/><br/><br/><br/>

    <form class="perguntas">
        <div ng-repeat="pergunta in perguntas">
          <h3>{{pergunta.questao}}</h3>

       <div  ng-repeat="listaresposta in pergunta.listaDeResposta">
          
               <p><input type="radio" value="{{listaresposta.resposta}}" 
            ng-model="$parent.resposta"
            required />{{listaresposta.resposta}}</p>

      </div>
      <!-- ... todos os campos aqui ... -->
    </form>

  </div>
</div>


      <button >Responder</button>
 


